<div class="container">
    <div class="container-form">
        <div class="container-logo">
            <img src="../../../assets/m.png" alt="Sg SimpleGest" class="logo">
            <h1>SimpleGest</h1>
            <p>Sua gestão de forma simplificada</p>
        </div>
        <h1>Login</h1>
        <div class="form">
        <input type="text" class="email" placeholder="E-mail" >
        <input type="text" class="senha" placeholder="Senha" >
        <button class="entrar">Entar</button>
    </div>
</div>
</div>