<div class="container">
    <div class="container-form">
        <div class="container-logo">
            <img src="../../../assets/m.png" alt="Sg SimpleGest" class="logo">
            <h1>SimpleGest</h1>
            <p>Sua gestão de forma simplificada</p>
        </div>
        <h1>Cadsastro</h1>
        <div class="form">
            <input type="text" class="nome" placeholder="Nome" [(ngModel)] = "nome">
            <input type="text" class="email" placeholder="E-mail" [(ngModel)] = "email">
            <input type="text" class="senha" placeholder="Senha" [(ngModel)] = "senha">
            <button class="entrar"(click)="cadastrarNovoUsuario()">Cadastrar</button>
        </div>
        <a routerLink="/login">já tem uma conta? faça o login</a>
    </div>
</div>