@cor-azul: #208BC5;

.container {
    width : 100%;
    height: 100%;
    color: #3a3a3a
}

.dados {
    width          : 100%;
    height         : 100%;
    display        : flex;
    flex-direction : column;
    flex-wrap      : wrap;
    align-items    : center;
    justify-content: center;
}

h1{
    display: flex;
}
.contas, .retiradas, .entradas {
    width: 100%;
    height: 100%;
}
table {
    width     : 100%;
    margin-top: 10px;
}

.pagar {
    background-color: @cor-azul;
    color           : #fff;
    padding         : 5px;
    width           : 50%;
}

.retiradas {
    margin-top: 50px;

    .retirada {
        background-color: rgba(0, 0, 0, 0.1);
        margin-top      : 5px;
        width           : 100%;
        height          : 20px;
    }
}

.contas {
    margin-top: 50px;

    .conta {
        background-color: rgba(0, 0, 0, 0.1);
        margin-top      : 5px;
        width           : 100%;
        height          : 20px;
    }
}

.graficos {
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: space-between;

    app-grafico {
        width : 100%;
        height: 100%;
    }
}