<app-header [title]="title"></app-header>
<div class="container">
        <h1>Saldo atual: R${{ usuario.saldo }}</h1>
        <button class="adicionar" (click)="abrirDialogMontante()">Adicionar dinheiro</button>
        <div class="dados">
        <div class="retiradas card">
            Retiradas:
            <button (click)="openDialogRetirada()">Nova Retirada</button>
            <div class="retirada" *ngFor="let retirada of retiradas">
                {{retirada.descricao}} : R${{ retirada.quantia }}
                <button class="edicao-retirada" (click)="abrirDialogEdicaoRetirada(retirada.id)"></button>
            </div>
        </div>
        <div class="contas card">
            contas:
            <button (click)="openDialogConta()">Nova conta</button>
            <div class="conta" *ngFor="let conta of contas">
                {{ conta.descricao }} : R${{ conta.preco }}
                <button class="pagar-conta" (click)="pagarConta(conta.id)" [disabled]="conta.paga ? true : false">Pagar</button>
                <button class="excluir-conta" (click)="apgarConta(conta.id)">Apagar</button>
            </div>
        </div>
        <app-grafico [pieChartData]="data" [pieChartLabels]="labels"></app-grafico>
    </div>
</div>