@cor-azul: #208BC5;

.container {
    width          : 100%;
    height         : 100%;

}

table {
    margin-top: 10px;
}

.adicionar {
    background-color: @cor-azul;
    color: #fff;
    height: 40px;
    margin-left: 30px;
    padding: 5px;
}

.editar {
    background-color: @cor-azul;
    color: #fff;
    padding: 5px;
    width: 50%;
}


.apagar {
    background-color: rgba(0, 0, 0, 0.1);
    color: #3a3a3a;
    padding: 5px;
    width: 50%;
}

.pagar {
    background-color: @cor-azul;
    color: #fff;
    padding: 5px;
    width: 50%;
}

table {
    width: 50%;
}
.verde {
    color: lightgreen;
}

.vermelho {
    color: lightcoral;
}
//  button {
//      color: #fff;
//      background-color: @cor-azul;
//      height: 40px;
//      width: 50%;
//      float: right;
//  }

.card {
    float          : left;
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    flex-wrap      : wrap;
    width          : 25%;
    height         : 200px;
    border-radius  : 5px;
    box-shadow     : 5px 10px rgba(0, 0, 0, 0.1);
}

.retiradas {
    margin-top      : 50px;

    .retirada {
        background-color: rgba(0, 0, 0, 0.1);
        margin-top      : 5px;
        width           : 100%;
        height          : 20px;
    }
}

.contas {
    margin-top      : 50px;

    .conta {
        background-color: rgba(0, 0, 0, 0.1);
        margin-top      : 5px;
        width           : 100%;
        height          : 20px;
    }
}